/*Font settings*/
body {
    font-family: 'Roboto', sans-serif;
    font-size: calc(12px + 1vw);
}    

h2, h3 {
    font-family: 'Handlee', cursive;
    color: #e2b619;
    text-shadow: 0.5px 0.5px 1px #9c801c;			
    border: 0px;
    text-align: center;
    margin-top: 1.15em;
}

hr {
    height:2px;
    border-width:0;
    color: #e2b619;
    background-color: #e2b619;
}

form {
    font-size: 0.75em;
    font-family: 'Roboto', sans-serif;
}

input[type=submit] {
    background-color: #4dac19;
    color: white;
    font-weight: 1em;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    color: #e2b619;
    background-color: #4dac19;
}

/*Nav Panel*/
    /*Logo Image*/
    .logo {
                width: 12.5%;
                min-width: 90px;
                max-width: 120px;
                position: fixed;
                border-radius: 50%;
                left: 1.5%;
                top: 1%;
                margin: 8px;
                z-index: 99;
    }

        section.top-nav {
                width: 99%;
                position: fixed;
                top: 0px;
                background-color: #FEFEFE;
                z-index: 98;
        }
            
            /*Page Links*/
            ul.top-nav {
                list-style-type: none;
                display: flex;
                align-content: row;
                padding: 30px, 0px;
                margin-left: 10%;
                /*eventually add if or coding for min/max ability*/
            }
                /*Link formating*/
                li.top-nav a {
                        color: black;
                        text-decoration: none;
                        border-top: 8px solid transparent;
                        padding: 8px;
                        gap: 8px;
                    }
                li.top-nav a:hover {
                        cursor:pointer;
                        border-top: 8px solid #e2b619;
                    }

            /*Search Bar*/
            .wrapper {
                position: absolute;
                top: 16px;
                right: 64px;
                display: flex;
                width: 18%;
                min-width: 145px;
            }
                .search {
                    align-self: center;
                    border: 1px solid grey;
                    border-radius: 50px;
                    height: 28px;
                    width: 100%;
                    padding: 2px 2px 2px 12px;
                    outline: 0;
                    background-color: lightgray;
                }
                .search:hover, .search:focus{
                    border: 1.5px solid #e2b619;
                    background-color: white;
                    cursor: text;
                }
            /*
                .clear-icon {
                    position: absolute;
                    align-self: center;
                    right: 38px;
                    width: 16px;
                    cursor: pointer;
                    visibility: hidden;
                }
            */
                .search-icon {
                    position: absolute;
                    align-self: center;
                    right: 10px;
                    width: 24px;
                    cursor: pointer;
            /*eventually add better postioning for cart and search bar*/
            }
            
            /*Cart*/
            .cart {
                position: absolute;
                top: 8px;
                right: 16px;
                width: 30px;
                height: 30px;
                margin: 8px;
                background: url("../../resources/images/cart.png") no-repeat center;
            }
            .cart:hover {
                position: absolute;
                top: 8px;
                right: 16px;
                width: 30px;
                height: 30px;
                margin: 8px;
                background: url("../../resources/images/carthover.png") no-repeat center;
                cursor:pointer;
            }
    
/*Main*/
    .banner {
        padding-top: 2em;
        display: block;
        align-self: center;
        margin: auto;
        width: 99%;
    }

    /*Table*/
    table.center {
            margin-left: auto;
            margin-right: auto;
    }
        th, td {
            padding: 8px;
        }
        td > img {
                width: 30vw;
        }

    /*shop*/
    section {
        display: flex;
    }
    div.catagories {
        display: inline-flex;
        flex-direction: column;
        width: 25%;
        min-width: 175px;
        margin-left: 16px;
        padding: 16px;
        border:2px solid #c7741b;
        background-color: #aeaeae90;
    }

    div.gallery {
        display: inline-flex;
        padding-right: 8px;
        padding-left: 4px;
        justify-content: center;
        flex-wrap: wrap;
    }
        div.gallery > a {
            text-decoration: none;
            width: 22%;
            min-width: 150px;
        }
        div.item {
            margin: 4px;
            border: 2px solid transparent;
        }
        
            div.item:hover {
                border: 2px solid #e2b619;
            }
            
            div.item > img {
                width: 100%;
            }

            div.listing {
                padding: 15px;
                text-align: center;
            }
/*Item Page*/
    section.item {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
        padding-top: 1.5em;
        gap: 5%;
    }
        div.image {
            display: inline-flex;
            flex-direction: column;
            justify-items: center;
            width: 40%;
            min-width: 350px;
            padding: 16px;
        }

        form.item {
            align-self: center;
            width: 40%;
            min-width: 350px;
        }

            label.item {
                font-family: 'Handlee', cursive;
                font-size: 1em;
            }
            
            input[type=radio] {
                accent-color: #e2b619;
            }
            
            input.item {
                margin-left: 5%;
            }

/*About*/
    div.about {
        background: linear-gradient(45deg, 
            rgba(42, 99, 11, 0.75) 20%,
            rgba(77,172,25,0.75) 55%,
            rgba(163, 232, 51, 0.75) 90%);
        border-radius: 16px;
        margin-top: 0px;
        margin-left: auto;
        margin-right: auto;
        max-width: 85%;
        padding: 0.5em 1em;
    }
        img.about {
            float: left;
            border-radius: 16px;
            margin: 1.15em 1em 0.5em 0em;
            width: 34%;
            max-width: 375px;
            overflow: auto;
            /*center better eventually*/
        }
        
    .tiktok-embed {
        z-index: -1;
    }

/*Contact*/
    /*Custom order form*/
    div.container {
        border-radius: 5px;
        background: linear-gradient(60deg, 
            rgba(226,182,25,0.9) 37%, 
            rgba(255,236,165,0.9) 89%);
        padding: 20px;
        margin: auto;
        width: 50%;
        min-width: 450px;
    }
        .custom {
            align-self: center;
            width: 100%;
            padding: 8px;
            margin: 2px;
            border: 1px solid #4dac19;
            border-radius: 4px;
            background-color: #ffffff90;
            box-sizing: border-box;
        }

        textarea {
            font-family: 'Roboto', sans-serif;
        }

        .custom:hover, .custom:focus {
            border: 1.5px solid #808080;
            background-color: white;
            cursor: text;
        }

    /*Join/like/follow social pages*/

/*Lower Nav*/
    section.bottom-nav {
        width: 99%;
        display: flex;
        justify-content: space-between;
    }
        /*Page Links*/
        ul.bottom-nav {
            list-style-type: none;
            padding-left: 16px;
            padding-right: 8px;
        }
            li.bottom-nav {
                width: -moz-fit-content;
                width: fit-content;
            }
                li.bottom-nav a {
                    color: #4dac19;
                    text-decoration: none;
                }
                li.bottom-nav a:hover {
                            cursor:pointer;
                            color: #e2b619;
                }
        /*social links*/
        span {
            color: #4dac19;
            display: flex;
            flex-direction: column;
            align-self: flex-end;
        }
        div.social {
            display: inline-flex;    
            justify-content: right;
            align-content: flex-end;
        }
            div.social > a {
                font-size: 1.5em;
                color: #4dac19;
            }
            div.social > a:hover {
                color: #e2b619;
                cursor: pointer;
            }
                .fa-brands {
                    padding: 4px;
                    display: block;
                } 
    /*Copyright*/
        p.copyright {
                color: gray;
                text-align: right;
            }